@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/*  font-family: "Inter", sans-serif; */


nav {
  display: flex;
  align-items: center;
  padding: 5px 20px;
  justify-content: space-between;
}

nav img {
  width: 10vw;
}

ul {
  display: flex;
  align-items: center;
}

li {
  list-style-type: none;
  font-family: "Inter", sans-serif;
  color: black;
  padding: 0px 10px;
}

a {
  text-decoration: none;
}